:root{
    --yellow : #FFFF00;
    --yellow-light : #F8F184;
    --blue : #19587D;
    --red : #B11313;
    --black : #000000;
    --white : #FFFFFFFF;
    --black-light : #D0E09l;
    --gris : #eddebf70;

    --gris-yellow : linear-gradient(to right , var(--gris) 10%, rgb(151, 117, 53));
    --white-red : linear-gradient(to right , #eddebf70 40% , #89000956);
    
}
@font-face {
    font-family: "r";
    src: url(../font/Rajdhani-Medium.ttf);
}
@font-face{
    font-family: "sg-bold";
    src: url(../font/SpaceGrotesk-Bold.ttf);
}
@font-face{
    font-family: "sg-regular";
    src: url(../font/SpaceGrotesk-Regular.ttf);
    font-weight: 100;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--black);
    color: var(--white);

}
.bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
/*---------------------------------------*/
/*header*/
header{
    height: 150px;
    padding:  0 3rem;
    margin: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 5rem;
}
header ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-size: 1rem;
}
header ul li{
    margin: 0 10px;
}
header a {
    font-size: 1.2rem;
    font-family: "r";
    font-weight: 400;
    color: var(--white);
}
/*---------------------------------------*/
/*main*/
main section{
    display: grid;
    padding-left: 10%;
    margin: 0 auto;
    height: 400px;
    grid-template-columns: 90% 5%;
    grid-template-rows: auto;
    position: relative;
    grid-template-areas:
    "batman icone";
}
.batman{
    grid-area: batman;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}
.batman h1{
    font-family: "r";
    margin: 20px 0;
    font-size:3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.icons{
    grid-area: icone;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons img{
    width: 1rem;
    margin: 10px;
    cursor: pointer;
}
.icons img:nth-child(1), .icons img:nth-child(5){
    width:4rem !important;
}
.fleche-bas{
    position: absolute;
    top: 100%;
    left: 45%;
}
/*---------------------------------------*/
.main-contenue {
margin:9rem;
font-family: "sg-regular";
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.main-contenue h1{
    font-family: "r" ,sans-serif !important;
    margin: 3rem 0;
}
.main-contenue .buttons{
    width: 100%;
    margin-top: 2rem;
    text-anchor: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.main-contenue button{
    padding: 1rem 2rem;
    margin-left: 2rem;
    cursor: pointer;
    background: var(--gris-yellow) !important;
    color: var(--white);
    border: none !important;
    transition: 0.5s ease-in-out;
}
/*footer*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
}
.autre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    flex-direction: column;
}
.autre span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'sg-regular';
}
.footer-icones img{
    margin: 1rem 1rem 0 0;
}
